@charset "UTF-8";
.logo_line{
    position: fixed;
    top: 250px;
    text-align: center;
    left: 508px;
}
.login_logo img{
    margin: auto;
    margin-bottom: 25px;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 125px;
    padding-right: 125px;
    display: block;
    width: 250px;
    background-color: #215F9A;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}

.login_input{
    display: block;
	text-align: center;
	margin-top: 80px;
}

.login_text input{
    width: 350px;
    height: 40px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}



.submit{
    display: block;
    padding-top: 25px;
}

.submit input{
	background-color: #FEDAC2;
    border-radius: 80px;
    width: 140px;
    height: 30px;
    margin-bottom: 20px;
}

.submit input:hover{
	background-color: #fdba7e;
}

.login_text input::placeholder {
	text-align: center;
}

html{
    background-color: rgb(255, 255, 255);
}
body{
    display: block;
    margin: auto;
    margin-top: 45px;
    width: 500px;
    height: 650px;
    border-radius: 80px;
    background-color: #DCEAF7;
}

#email{
	background:#fff url("/D1/img/people.png") no-repeat 0px center;
	background-size: 40px 40px;
}

#password{
	background:#fff url("/D1/img/lock.png") no-repeat 0px center;
	background-size: 40px 40px;
}