/* リセットCSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: bottom;
  background: transparent;
  list-style: none;
}

body {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
  font: inherit;
}

/* ここまでリセットCSS */

body {
  font-family: "Arial", sans-serif;
  color: #555;
  font-feature-settings: "palt";
  background: #F8FBFE;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 80px;
  width: 100%;
  padding: 0 20px;
  background: #215F9A;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
	width: 150px;
}


/* /////////////////////////////////// */

h2{
  	display: inline-block;
	font-size: 3em;
	padding-right: 900px;
	padding-left: 200px;
	margin-left: 10px;
	border-bottom: 1px solid #020062;
	margin-top: 10px;
	margin-bottom: 10px;
}

.back img{
  position: fixed;
  width:50px;
  height:50px;
  top: 91px;
  left: 15px;
}
.reload img{
  position: fixed;
  width:70px;
  height:70px;
  top: 180px;
  left: 1285px;
}


textarea{
	border: 2px solid black;
	box-sizing: border-box;
}

.questionssss{
    overflow: auto;
    height: 75vh;
    width:80%;
    box-shadow: inset 0px 3px 3px 0px rgb(201, 201, 201);
    margin:auto;
    background: #fff;
}

.chat-box{
	display: flex;
	margin-top: 15px;
}

.chat-box .chat-face{
	flex: 0 0 50px;
	margin-right: 10px;
}

.chat-box .chat-face img{
	border-radius: 50%;
	width:50px;
	height: 50px;
}

.chat-area{
	max-width: 70%;
}

.chat-hukidashi{
	background: #e1f3fb;
	border-radius: 10px;
	padding: 10px;
	position: relative;
	word-break: break-word;
}

.chat-hukidashi::before{
	content: "";
	position: absolute;
	top: 10px;
	left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent #e1f3fb transparent transparent;
}

.chat-hukidashi_kaitou{
	background: #d1e7dd;
	border-radius: 10px;
	padding: 10px;
	position: relative;
	word-break: break-word;
}

.chat-hukidashi_kaitou::before {
	content: "";
	position: absolute;
	top: 10px;
	right: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent transparent #d1e7dd;
}

.que{
  display: flex;
  align-items: center; /* 上下の中央揃え */
  justify-content: center; /* 左右の中央揃え */
  position: fixed;
  top: 640px; /* 上から50% */
  left: 1250px; /*左から50% */
  transform: translate(-50%, -50%); /* 変形 */
}
.qbutton{
  border-radius: 80px;
  padding: 20px 50px 20px 20px;
  font-size: 1.2em;
  margin-right: 5px; /* ボタンと画像の間隔 */
  text-align:center;
  background:#fff url("/D1/img/pen.png") no-repeat 160px center;
  background-size: 25px 25px;
}

footer{
	position:fixed;
	bottom:0;
	width:100%;
	height:20px;
	background: #215F9A;
    text-align:center;
}
.fot_img img{
	width:150px;
}

.modal_maintitle{
	display:flex;
	justify-content: center;
}
.modal_maintitle h1{
	margin-left:150px;
	margin-right:70px;
}
#subject_select{
	background: #FEDAC2;
	font-weight:bold;
	color: #555;
}

.btn_update1{
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;


	background:url("/D1/img/reaction.png") no-repeat 0px center;
	background-size:40px 40px;
	width:40px;
	height:40px;
}
.btn_update2{
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;


	background:url("/D1/img/reaction_good.png") no-repeat 0px center;
	background-size:40px 40px;
	width:40px;
	height:40px;
}
.btn_update3{
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;


	background:url("/D1/img/reaction_plus.png") no-repeat 0px center;
	background-size:40px 40px;
	width:40px;
	height:40px;
}
.btn_update4{
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;


	background:url("/D1/img/reaction_plus.png") no-repeat 0px center;
	background-size:40px 40px;
	width:40px;
	height:40px;
}
.btn_update5{
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;


	background:url("/D1/img/reaction_plus.png") no-repeat 0px center;
	background-size:40px 40px;
	width:40px;
	height:40px;
}

.margin{
/* 	 transform: translateX(5px) translateY(45px); */
}

/* ここからテスト---------------------------------------------------------------------------------------------------- */

nav{
  color:#fff;
  text-align: center;
  width:40px;
}

/*ナビゲーションを横並びに*/
nav ul{
    /*2階層目の基点にするためrelativeを指定*/
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
}

/*2階層目以降は横並びにしない*/
nav ul ul{
  display: block;
}

/*ナビゲーションのリンク設定*/
nav ul li a{
    /*矢印の基点にするためrelativeを指定*/
  position: relative;
  display: block;
  text-decoration: none;
  color: #999;
  padding:0px 0px;
  transition:all .3s;
}

nav ul li li a{
  padding:0px;
}

nav ul li a:hover{
  color:#fff;
}

/*==2階層目以降の画像設定*/

nav ul li.has-child input{
  width: 40px;
  height: 40px;
  transition: all .5s;
  vertical-align: bottom;
}

/*hoverしたら画像拡大*/
nav ul li.has-child input:hover{
  transform: scale(1.3);
}

nav ul li.has-child dt{
  overflow: hidden;
  height: 20vh;
  margin:0 0 20px 0;
}

@media screen and (max-width:1200px){
nav ul li.has-child dt{
  height: 12vh;
}

}

/*== 2層目の設定 */

nav li.has-child ul{
  /*絶対配置で位置を指定*/
    position: absolute;
  left:-90px;
  top:40px;
  z-index: 4;
  /*子要素を横並びに*/
  justify-content: space-between;
  flex-wrap: wrap;
    /*形状を指定*/
  width:220px;
    /*はじめは非表示*/
  display: none;
  visibility: hidden;
  opacity: 0;
     /*アニメーション設定*/
  transition: all .3s;
}

/*hoverしたら表示*/
nav li.has-child:hover > ul{
  visibility: visible;
  opacity: 1;
  display: flex;
}

/*各ナビゲーション横幅*/
nav li.has-child ul li{
  width:20%;
}

/*ナビゲーションaタグの形状*/
nav li.has-child ul li a{
  color: #fff;
}



/*==768px以下の形状*/
@media screen and (max-width:768px){

  nav ul{
    display: block;
  }

  nav li.has-child ul{
    position: relative;
  left:0;
  top:0;
  width:100%;
  visibility:visible;/*JSで制御するため一旦表示*/
  opacity:1;/*JSで制御するため一旦表示*/
  display: none;/*JSのslidetoggleで表示させるため非表示に*/
  transition:none;/*JSで制御するためCSSのアニメーションを切る*/
}
    nav li.has-child:hover > ul {
      display: none;
    }
  nav li.has-child ul li{
    width:100%;
    text-align: left;
  }

  nav li.has-child ul li dl{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav li.has-child ul li dt{
    width:30%;
    height: auto;
    margin: 0;
  }

  nav li.has-child ul li dd{
    width:64%;
  }


    nav ul li a{
      padding: 10px 20px;
      border-bottom:1px solid #ccc;
}

    nav ul li li a{
    padding: 0;
}

/*矢印の位置と向き*/

nav ul li.has-child > a::before{
  top:17px;
  left:20px;
    transform: rotate(135deg);
}

nav ul li.has-child.active > a::before{
    transform: rotate(-45deg);
}
}

/*========= レイアウトのためのCSS ===============*/

h1{
  font-size:2rem;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}

h2{
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
}

p{
  margin-top:20px;
}

small{
  background:#333;
  color:#fff;
  display: block;
  text-align: center;
  padding:20px;
}


section{
  padding:30px;
}

section:nth-child(2n){
  background:#f3f3f3;
}